/* ------------------>TABLET<----------------< */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    justify-content: flex-start;
    padding: 0 16px;
  }

  .head-logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .header-address {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-links {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .menu-burger-btn {
    display: none;
  }

  /* -----------------------MENU----------------------- */

  .menu-nav-list {
    align-items: center;
  }

  .menu-close-btn {
    margin-bottom: 100px;
  }

  .menu-address-list {
    align-items: center;
  }

  .tablet-menu-socials {
    margin-top: 400px;
    display: flex;
    justify-content: center;
  }

  /* -------------------TITLE------------------------- */

  .title-section {
    min-height: 436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet-1x.jpg);
    padding: 112px 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .title-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet-2x.jpg);
    }
  }

  .title-title {
    min-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .header-button {
    margin-top: 48px;
  }

  /* -----------------ADVANTAGES----------------- */

  .adv-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .adv-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages {
    text-align: left;
  }

  /* ------------------------TEAM----------------------- */

  .team-section {
    padding: 96px 0;
  }

  .team-list {
    justify-content: center;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .socials {
    gap: 16px;
  }
}

/* ---------------------PORTFOLIO-------------------- */

.wrap-text {
  overflow: hidden;
  opacity: 0;
}

.portfolio-list {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
}

.portfolio-item {
  width: calc((100% - 24px) / 2);
}

.app-container {
  box-shadow: none;
}

/* -------------------FOOTER----------------- */

.footer {
  padding: 96px 148px 96px 108px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.footer-left {
  margin-right: 120px;
}

.footer-logo {
  align-self: flex-start;
}

.footer-text {
  width: 264px;
  margin-bottom: 0;
}

.footer-social {
  align-self: flex-start;
  margin-left: 24px;
}

.media-title {
  text-align: left;
}

.form-div {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* -------------------FORM----------------- */

.modal {
  width: 408px;
  padding: 72px 25px 24px 23px;
}

.modal-text {
  margin-bottom: 16px;
}

/* ---------------------->COMPUTER<-------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ---------HEADER------------ */

  .header-container {
    padding: 0;
  }
  .head-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-links {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* -----------TITLE------------ */

  .title-section {
    min-height: 600px;
    max-width: 1440px;
    padding: 188px 472px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .title-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img-2x.jpg);
    }
  }

  .title-title {
    font-size: 56px;
  }

  /* -----------------ADVANTAGES----------------- */

  .adv-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .adv-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-text {
    width: 264px;
  }
  .adv-image {
    display: flex;
    width: 264px;
  }

  .advantages {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantages-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* -------------------TEAM------------------- */

  .team-section {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
  }
  .socials {
    gap: 24px;
  }

  /* ---------------------PORTFOLIO-------------------- */

  .wrap-text {
    overflow: visible;
    opacity: 100%;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* -------------------FOOTER----------------- */

  .footer {
    display: flex;
    padding: 100px 0;
  }
  .footer-social {
    margin-left: 0;
  }

  /* ---------------FOOTER-FORM------------------------ */
  .form-div {
    align-self: flex-start;
    margin-left: 60px;
  }

  .form-title {
    margin-right: auto;
  }

  /* -------------------MODAL-FORM----------------- */

  .modal {
    padding: 72px 24px 24px 24px;
  }
}
