/* ------------------>TABLET<----------------< */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    justify-content: flex-start;
    padding: 0 16px;
  }

  .head-logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .header-address {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-links {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .menu-burger-btn {
    display: none;
  }

  /* -------------------TITLE------------------------- */

  .title-section {
    min-height: 436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet-1x.jpg);
    padding: 112px 136px;
    /* max-width: 1440px; */
  }

  @media screen and (min-resolution: 192dpi) {
    .title-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet-2x.jpg);
    }
  }

  .header-title {
    min-width: 496px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .header-button {
    margin-top: 36px;
  }

  /* -----------------ADVANTAGES----------------- */

  .adv-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .adv-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages {
    text-align: left;
  }

  /* ------------------------TEAM----------------------- */

  .team-section {
    padding: 96px 108px;
  }

  .team-list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }

  .team-item {
    min-width: calc((100% - 24px) / 2);
  }

  /* ---------------------PORTFOLIO-------------------- */

  .wrap-text {
    overflow: hidden;
    opacity: 0;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* -------------------FOOTER----------------- */

  .footer {
    padding: 96px 148px 96px 108px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .footer-logo {
    align-self: flex-start;
  }

  .footer-text {
    width: 264px;
  }

  .footer-social {
    align-self: flex-start;
    margin-left: 24px;
  }

  .media-title {
    text-align: left;
  }

  .form-div {
    display: inline-block;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /* -------------------FORM----------------- */

  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }

  .modal-text {
    margin-bottom: 16px;
  }
}
