*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto; */

  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* ================HEADER========================= */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
  margin-right: 149px;
}
.logo-part {
  color: #2e2f42;
}

.logo-links {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  left: 0px;
  bottom: -1px;
}

.logo-links {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-links:hover,
.logo-links:focus {
  color: #404bbf;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  display: none;
}

.header-address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-links {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-links:hover,
.address-links:focus {
  color: #404bbf;
}

.menu-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  padding: 1.5px;
}
.burger-svg {
  fill: #2f2f37;
}

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
}
.menu-close-btn {
  min-width: 24px;
  min-height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.menu-close-svg {
  fill: #2e2f42;
}

.menu-nav-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.li-studio > .menu-logo-links {
  color: #404bbf;
}
.menu-logo-links {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-logo-links:focus {
  color: #404bbf;
}

.menu-address-list {
  margin-top: 168px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-address-links {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-address-links:focus {
  color: #404bbf;
}
.menu-tel-link > .menu-address-links {
  color: #4d5ae5;
}

.menu-socials {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.menu-svg-soc {
  fill: #f4f4fd;
}
.menu-socials-item {
  width: 40px;
  height: 40px;
}

/* =================TITLE======================== */

.title-section {
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title-bg-mob-1x.jpg);
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56px 16px 72px 16px;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) {
  .title-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/title-bg-mob-2x.jpg);
  }
}

.header-title {
  /* font-size: 56px; */
  font-size: 36px;
  /* line-height: 1.07; */
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 700;
  /* background-color: #2e2f42; */
  max-width: 496px;
}

.header-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover,
.header-button:focus {
  background-color: #404bbf;
}

/* ==============ADVANTAGES=========================== */

.adv-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.adv-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages {
  /* font-size: 20px; */
  font-size: 36px;
  /* font-weight: 500; */
  font-weight: 700;
  /* line-height: 1.2; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.adv-item {
  min-width: 288px;
}

.adv-image {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  min-width: 264px;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================TEAM======================= */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 12px;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-images {
  background-color: #ffffff;
}

.team-member {
  padding: 32px 0;
}

.team-names {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* ul */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* li */
.socials-item {
  margin-top: 8px;
  min-width: 40px;
  min-height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item:hover {
  background-color: #31d0aa;
}

/* svg */

.svg-link-team {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link-team:hover {
  background-color: #404bbf;
}
.svg-link-team:focus {
  background-color: #404bbf;
}

.svg-item-soc {
  fill: #f4f4fd;
}

/* ==================PORTFOLIO======================= */

.portfolio-section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-images {
  background-color: #ffffff;
}

.cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .wrap-text {
  transform: translateY(0%);
}

.wrap-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-container {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.app-type {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.app-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =================FOOTER======================== */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left {
  /* margin-right: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.title-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 288px;
  text-align: left;
  margin-bottom: 72px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.media-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  gap: 16px;
}

.socials-item {
  margin-top: 0;
}

.svg-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-link:focus {
  background-color: #31d0aa;
}
.svg-link:hover {
  background-color: #31d0aa;
}

.svg-item-footer {
  fill: #f4f4fd;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

/* ---------------FOOTER-FORM------------------------ */

.form-div {
  /* margin-left: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 72px;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-top: 16px; */
}

.footer-input::placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input {
  min-width: 288px;
  min-height: 40px;
  padding-left: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-btn {
  /* min-width: 165px; */
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.telegram-svg {
  fill: #ffffff;
  margin-left: 16px;
}

/* -------------MODAL-FORM------------------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  /* width: 408px; */
  min-width: 288px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover .close-svg {
  fill: #ffffff;
}
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:focus .close-svg {
  fill: #ffffff;
}
.close-svg {
  fill: #2e2f42;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  min-width: 256px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
}

.under-title {
  margin-bottom: 8px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  /* width: 100%; */
  min-width: 256px;
  min-height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.checkbox-div {
  margin-bottom: 24px;
}

.input-wrap {
  position: relative;
}
.input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 10px;
}

.checkbox-svg {
  fill: #ffffff;
  min-width: 10px;
  min-height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.input-checkbox:checked + .policy-text .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-text-div {
  display: inline-block;
  color: #8e8f99;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  min-width: 231px;
  margin-left: 8px;
}
.policy-text {
  display: inline-flex;
}
.policy-link {
  color: #4d5ae5;
  font-style: normal;
  text-decoration-line: underline;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  margin-top: 24px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
